
<%- include("includes/head.ejs"); %>
<body>

    <h1>This account belongs to @ 
       <%= data.name %> 
    </h1>
    <button>follow</button>
    <button>message</button>

    <p>followers: <%= data.followers %> &nbsp; &nbsp; &nbsp;
        &nbsp;
        following: <%=data.following %>
    
    
    </p>

    <hr>

    <% for(let post of data.posts){   %>

        <img src="<%= post.image %>" alt="some pic">

        <p>
            likes:<%=post.likes %> &nbsp; &nbsp; &nbsp;
            comment: <%=post.comments %>
        </p>


        <%  }  %>


        <%- include("includes/footer.ejs");%>
</body>
<script src="/app.js"></script>
</html>